<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="contribucionesF29" value="C:\Users\xavier\Desktop\Edig\EdigcontribucionesF29"/>
    <add key="remuneraciones" value="C:\Users\xavier\Desktop\Edig\Edigremuneracinoes"/>
    <add key="salida" value="C:\Users\xavier\Desktop\Edig\"/>
    <add key="anio" value="2014"/>
    <add key="mes" value="01"/>
  </appSettings>
</configuration>